raw_data/
prepare_data/
env/
*.csv
*.pkl
*.h5

bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache

.secrets
appsettings.json
azure_function/local.settings.json
azure_function/.vscode
node_modules
dist
azure_function/.python_packages/

# Byte-compiled / optimized / DLL files
azure_function/__pycache__/
*.py[cod]
*$py.class